In [1]:
!pip install PyYAML

Requirement already satisfied: PyYAML in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (6.0.2)

In [10]:
import os
import yaml
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in c:\users\govindharaj arumugam\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [11]:
# Define the folder containing YAML files
base_folder = r"D:\stock analysis\data"

# List to store the loaded data
all_yaml_data = []

# Walk through all directories and files in the base folder
for root, dirs, files in os.walk(base_folder):
    
    for file in files:
        if file.endswith(".yaml"):  # Check for YAML files
            yaml_file_path = os.path.join(root, file)
           
            # Read and load the YAML file
            try:
                with open(yaml_file_path, "r") as f:
                    yaml_data = yaml.safe_load(f)  # Load YAML file as a Python dictionary
                    all_yaml_data.append(yaml_data)  # Add the data to the list

            except Exception as e:
                pass

In [13]:
final = []

for i in all_yaml_data:
    for j in i:
        final.append(j)
df1 = pd.DataFrame(final)

df1.head()

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.6,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.8,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.8,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.0,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.2,1948148

In [14]:
df1

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [41]:
print(df1.columns)

Index(['Ticker', 'close', 'date', 'high', 'low', 'month', 'open', 'volume'], dtype='object')

In [15]:
df2 = pd.read_csv(r"D:\stock analysis\Sector_data - Sheet1 (1).csv")

print(df2.head())

             COMPANY         sector                         Symbol
0  ADANI ENTERPRISES  MISCELLANEOUS  ADANI ENTERPRISES: ADANIGREEN
1  ADANI PORTS & SEZ  MISCELLANEOUS  ADANI PORTS & SEZ: ADANIPORTS
2   APOLLO HOSPITALS  MISCELLANEOUS   APOLLO HOSPITALS: APOLLOHOSP
3       ASIAN PAINTS         PAINTS       ASIAN PAINTS: ASIANPAINT
4          AXIS BANK        BANKING            AXIS BANK: AXISBANK

In [99]:
print("df1 columns:", list(df1.columns))
print("df2 columns:", list(df2.columns))

df1 columns: ['Ticker', 'close', 'date', 'high', 'low', 'month', 'open', 'volume']
df2 columns: ['COMPANY', 'sector', 'Symbol']

In [16]:
df2['Symbol'] = df2['Symbol'].str.split(':').str[-1].str.strip()
df3 = pd.merge(df1, df2, left_on='Ticker', right_on='Symbol', how='left')
df3 = df3.drop(columns=['COMPANY'])
print(df3.head())

       Ticker    close                 date    high      low    month    open  \
0        SBIN   602.95  2023-10-03 05:30:00   604.9   589.60  2023-10   596.6
1  BAJFINANCE  7967.60  2023-10-03 05:30:00  7975.5  7755.00  2023-10  7780.8
2       TITAN  3196.25  2023-10-03 05:30:00  3212.5  3114.40  2023-10  3148.8
3         ITC   439.75  2023-10-03 05:30:00   442.9   439.25  2023-10   441.0
4         TCS  3513.85  2023-10-03 05:30:00  3534.2  3480.10  2023-10  3534.2

     volume          sector      Symbol
0  15322196         BANKING        SBIN
1    944555         FINANCE  BAJFINANCE
2   1007308       RETAILING       TITAN
3   7481883  FOOD & TOBACCO         ITC
4   1948148        SOFTWARE         TCS

In [101]:
df3.columns

Index(['Ticker', 'close', 'date', 'high', 'low', 'month', 'open', 'volume',
       'sector', 'Symbol'],
      dtype='object')

In [17]:
df3['daily_return']=df3['close']- ((df3['open'])/df3['open']) * 100
df3['daily_return']=df3['daily_return'].round(2)
df3

,Ticker,close,date,high,low,month,open,volume,sector,Symbol,daily_return
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196,BANKING,SBIN,502.95
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555,FINANCE,BAJFINANCE,7867.60
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308,RETAILING,TITAN,3096.25
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883,FOOD & TOBACCO,ITC,339.75
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148,SOFTWARE,TCS,3413.85
...,...,...,...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402,ALUMINIUM,HINDALCO,552.10
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712,AUTOMOBILES,HEROMOTOCO,4694.10
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505,BANKING,AXISBANK,1042.40
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806,BANKING,HDFCBANK,1645.60
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823,AUTOMOBILES,BAJAJ-AUTO,9381.65

In [ ]:


# ✅ Step 1: All Nifty 50 Tickers
tickers = [
    'SBIN', 'BAJFINANCE', 'TITAN', 'ITC', 'TCS', 'LT', 'TATACONSUM', 'RELIANCE',
    'HCLTECH', 'JSWSTEEL', 'ULTRACEMCO', 'POWERGRID', 'INFY', 'TRENT', 'BHARTIARTL',
    'TATAMOTORS', 'WIPRO', 'TECHM', 'NTPC', 'HINDUNILVR', 'APOLLOHOSP', 'M&M',
    'GRASIM', 'ICICIBANK', 'ADANIENT', 'ADANIPORTS', 'BEL', 'BAJAJFINSV',
    'EICHERMOT', 'COALINDIA', 'MARUTI', 'INDUSINDBK', 'ASIANPAINT', 'TATASTEEL',
    'HDFCLIFE', 'DRREDDY', 'SUNPHARMA', 'KOTAKBANK', 'SHRIRAMFIN', 'NESTLEIND',
    'ONGC', 'CIPLA', 'BPCL', 'BRITANNIA', 'SBILIFE', 'HINDALCO', 'HEROMOTOCO',
    'AXISBANK', 'HDFCBANK', 'BAJAJ-AUTO'
]

# ✅ Step 2: Random Open & Close Prices
np.random.seed(42)
open_prices = np.random.randint(500, 4000, size=len(tickers))
close_prices = open_prices + np.random.randint(-100, 100, size=len(tickers))

# ✅ Step 3: Calculate Daily Return (%)
daily_return = np.round(((close_prices - open_prices) / open_prices) * 100, 2)

# ✅ Step 4: Create DataFrame
df4 = pd.DataFrame({
    "Ticker": tickers,
    "open": open_prices,
    "close": close_prices,
    "daily_return": daily_return
})

df4["daily_return"] = df4["close"] - df4["open"]
df4["daily_return_pct"] = np.round(((df4["close"] - df4["open"]) / df4["open"]) * 100, 2)
# ✅ Step 5: Print full DataFrame
print(" Nifty 50 Daily Stock Data:\n")
print(df4.to_string(index=False))
#filtered_df = df4[df4["Ticker"] == "SBIN"][["Ticker", "open", "close", "daily_return","daily_return_pct"]]
#print(filtered_df)

# ✅ Step 6 (Optional): Loop through each Ticker and show individual data
print("\n Individual Ticker Breakdown:")
for ticker in df4["Ticker"].unique():
    print("\n" + "="*40)
    print(f"🔸 Ticker: {ticker}")
    print(df4[df4["Ticker"] == ticker][["Ticker", "open", "close", "daily_return"]].to_string(index=False))

 Nifty 50 Daily Stock Data:

    Ticker  open  close  daily_return  daily_return_pct
      SBIN  3674   3704            30              0.82
BAJFINANCE  1360   1310           -50             -3.68
     TITAN  1794   1828            34              1.90
       ITC  1630   1550           -80             -4.91
       TCS  1595   1567           -28             -1.76
        LT  3592   3658            66              1.84
TATACONSUM  2138   2055           -83             -3.88
  RELIANCE  2669   2700            31              1.16
   HCLTECH   966    954           -12             -1.24
  JSWSTEEL  1738   1697           -41             -2.36
ULTRACEMCO   830    743           -87            -10.48
 POWERGRID  1982   1890           -92             -4.64
      INFY  2635   2624           -11             -0.42
     TRENT  3944   3896           -48             -1.22
BHARTIARTL  3671   3700            29              0.79
TATAMOTORS  3419   3402           -17             -0.50
     WIPRO   630    621            -9             -1.43
     TECHM  2185   2195            10              0.46
      NTPC  3880   3967            87              2.24
HINDUNILVR  1269   1367            98              7.72
APOLLOHOSP  2891   2962            71              2.46
       M&M  2015   1922           -93             -4.62
    GRASIM  3985   4059            74              1.86
 ICICIBANK  3353   3287           -66             -1.97
  ADANIENT  2933   2913           -20             -0.68
ADANIPORTS  1715   1778            63              3.67
       BEL  1455   1404           -51             -3.51
BAJAJFINSV  2824   2827             3              0.11
 EICHERMOT  1684   1715            31              1.84
 COALINDIA   959    860           -99            -10.32
    MARUTI  3885   3918            33              0.85
INDUSINDBK   521    474           -47             -9.02
ASIANPAINT  2800   2805             5              0.18
 TATASTEEL  1247   1150           -97             -7.78
  HDFCLIFE  3404   3357           -47             -1.38
   DRREDDY   974   1064            90              9.24
 SUNPHARMA  1582   1627            45              2.84
 KOTAKBANK  3058   3001           -57             -1.86
SHRIRAMFIN  2547   2608            61              2.39
 NESTLEIND  3247   3336            89              2.74
      ONGC  1475   1388           -87             -5.90
     CIPLA  2306   2300            -6             -0.26
      BPCL   689    636           -53             -7.69
 BRITANNIA  3505   3419           -86             -2.45
   SBILIFE  3234   3333            99              3.06
  HINDALCO  3505   3594            89              2.54
HEROMOTOCO  1062   1001           -61             -5.74
  AXISBANK  2399   2380           -19             -0.79
  HDFCBANK  1767   1777            10              0.57
BAJAJ-AUTO  3379   3331           -48             -1.42
  Ticker  open  close  daily_return  daily_return_pct
0   SBIN  3674   3704            30              0.82

 Individual Ticker Breakdown:

========================================
🔸 Ticker: SBIN
Ticker  open  close  daily_return
  SBIN  3674   3704            30

========================================
🔸 Ticker: BAJFINANCE
    Ticker  open  close  daily_return
BAJFINANCE  1360   1310           -50

========================================
🔸 Ticker: TITAN
Ticker  open  close  daily_return
 TITAN  1794   1828            34

========================================
🔸 Ticker: ITC
Ticker  open  close  daily_return
   ITC  1630   1550           -80

========================================
🔸 Ticker: TCS
Ticker  open  close  daily_return
   TCS  1595   1567           -28

========================================
🔸 Ticker: LT
Ticker  open  close  daily_return
    LT  3592   3658            66

========================================
🔸 Ticker: TATACONSUM
    Ticker  open  close  daily_return
TATACONSUM  2138   2055           -83

========================================
🔸 Ticker: RELIANCE
  Ticker  open  close  daily_return
RELIANCE  2669   2700            31

========================================
🔸 Ticker: HCLTECH
 Ticker  open  close  daily_return
HCLTECH   966    954           -12

========================================
🔸 Ticker: JSWSTEEL
  Ticker  open  close  daily_return
JSWSTEEL  1738   1697           -41

========================================
🔸 Ticker: ULTRACEMCO
    Ticker  open  close  daily_return
ULTRACEMCO   830    743           -87

========================================
🔸 Ticker: POWERGRID
   Ticker  open  close  daily_return
POWERGRID  1982   1890           -92

========================================
🔸 Ticker: INFY
Ticker  open  close  daily_return
  INFY  2635   2624           -11

========================================
🔸 Ticker: TRENT
Ticker  open  close  daily_return
 TRENT  3944   3896           -48

========================================
🔸 Ticker: BHARTIARTL
    Ticker  open  close  daily_return
BHARTIARTL  3671   3700            29

========================================
🔸 Ticker: TATAMOTORS
    Ticker  open  close  daily_return
TATAMOTORS  3419   3402           -17

========================================
🔸 Ticker: WIPRO
Ticker  open  close  daily_return
 WIPRO   630    621            -9

========================================
🔸 Ticker: TECHM
Ticker  open  close  daily_return
 TECHM  2185   2195            10

========================================
🔸 Ticker: NTPC
Ticker  open  close  daily_return
  NTPC  3880   3967            87

========================================
🔸 Ticker: HINDUNILVR
    Ticker  open  close  daily_return
HINDUNILVR  1269   1367            98

========================================
🔸 Ticker: APOLLOHOSP
    Ticker  open  close  daily_return
APOLLOHOSP  2891   2962            71

========================================
🔸 Ticker: M&M
Ticker  open  close  daily_return
   M&M  2015   1922           -93

========================================
🔸 Ticker: GRASIM
Ticker  open  close  daily_return
GRASIM  3985   4059            74

========================================
🔸 Ticker: ICICIBANK
   Ticker  open  close  daily_return
ICICIBANK  3353   3287           -66

========================================
🔸 Ticker: ADANIENT
  Ticker  open  close  daily_return
ADANIENT  2933   2913           -20

========================================
🔸 Ticker: ADANIPORTS
    Ticker  open  close  daily_return
ADANIPORTS  1715   1778            63

========================================
🔸 Ticker: BEL
Ticker  open  close  daily_return
   BEL  1455   1404           -51

========================================
🔸 Ticker: BAJAJFINSV
    Ticker  open  close  daily_return
BAJAJFINSV  2824   2827             3

========================================
🔸 Ticker: EICHERMOT
   Ticker  open  close  daily_return
EICHERMOT  1684   1715            31

========================================
🔸 Ticker: COALINDIA
   Ticker  open  close  daily_return
COALINDIA   959    860           -99

========================================
🔸 Ticker: MARUTI
Ticker  open  close  daily_return
MARUTI  3885   3918            33

========================================
🔸 Ticker: INDUSINDBK
    Ticker  open  close  daily_return
INDUSINDBK   521    474           -47

========================================
🔸 Ticker: ASIANPAINT
    Ticker  open  close  daily_return
ASIANPAINT  2800   2805             5

========================================
🔸 Ticker: TATASTEEL
   Ticker  open  close  daily_return
TATASTEEL  1247   1150           -97

========================================
🔸 Ticker: HDFCLIFE
  Ticker  open  close  daily_return
HDFCLIFE  3404   3357           -47

========================================
🔸 Ticker: DRREDDY
 Ticker  open  close  daily_return
DRREDDY   974   1064            90

========================================
🔸 Ticker: SUNPHARMA
   Ticker  open  close  daily_return
SUNPHARMA  1582   1627            45

========================================
🔸 Ticker: KOTAKBANK
   Ticker  open  close  daily_return
KOTAKBANK  3058   3001           -57

========================================
🔸 Ticker: SHRIRAMFIN
    Ticker  open  close  daily_return
SHRIRAMFIN  2547   2608            61

========================================
🔸 Ticker: NESTLEIND
   Ticker  open  close  daily_return
NESTLEIND  3247   3336            89

========================================
🔸 Ticker: ONGC
Ticker  open  close  daily_return
  ONGC  1475   1388           -87

========================================
🔸 Ticker: CIPLA
Ticker  open  close  daily_return
 CIPLA  2306   2300            -6

========================================
🔸 Ticker: BPCL
Ticker  open  close  daily_return
  BPCL   689    636           -53

========================================
🔸 Ticker: BRITANNIA
   Ticker  open  close  daily_return
BRITANNIA  3505   3419           -86

========================================
🔸 Ticker: SBILIFE
 Ticker  open  close  daily_return
SBILIFE  3234   3333            99

========================================
🔸 Ticker: HINDALCO
  Ticker  open  close  daily_return
HINDALCO  3505   3594            89

========================================
🔸 Ticker: HEROMOTOCO
    Ticker  open  close  daily_return
HEROMOTOCO  1062   1001           -61

========================================
🔸 Ticker: AXISBANK
  Ticker  open  close  daily_return
AXISBANK  2399   2380           -19

========================================
🔸 Ticker: HDFCBANK
  Ticker  open  close  daily_return
HDFCBANK  1767   1777            10

========================================
🔸 Ticker: BAJAJ-AUTO
    Ticker  open  close  daily_return
BAJAJ-AUTO  3379   3331           -48

In [21]:
df4.loc[:, ["Ticker", "open", "close", "daily_return", "daily_return_pct"]]

        Ticker  open  close  daily_return  daily_return_pct
0         SBIN  3674   3704            30              0.82
1   BAJFINANCE  1360   1310           -50             -3.68
2        TITAN  1794   1828            34              1.90
3          ITC  1630   1550           -80             -4.91
4          TCS  1595   1567           -28             -1.76
5           LT  3592   3658            66              1.84
6   TATACONSUM  2138   2055           -83             -3.88
7     RELIANCE  2669   2700            31              1.16
8      HCLTECH   966    954           -12             -1.24
9     JSWSTEEL  1738   1697           -41             -2.36
10  ULTRACEMCO   830    743           -87            -10.48
11   POWERGRID  1982   1890           -92             -4.64
12        INFY  2635   2624           -11             -0.42
13       TRENT  3944   3896           -48             -1.22
14  BHARTIARTL  3671   3700            29              0.79
15  TATAMOTORS  3419   3402           -17             -0.50
16       WIPRO   630    621            -9             -1.43
17       TECHM  2185   2195            10              0.46
18        NTPC  3880   3967            87              2.24
19  HINDUNILVR  1269   1367            98              7.72
20  APOLLOHOSP  2891   2962            71              2.46
21         M&M  2015   1922           -93             -4.62
22      GRASIM  3985   4059            74              1.86
23   ICICIBANK  3353   3287           -66             -1.97
24    ADANIENT  2933   2913           -20             -0.68
25  ADANIPORTS  1715   1778            63              3.67
26         BEL  1455   1404           -51             -3.51
27  BAJAJFINSV  2824   2827             3              0.11
28   EICHERMOT  1684   1715            31              1.84
29   COALINDIA   959    860           -99            -10.32
30      MARUTI  3885   3918            33              0.85
31  INDUSINDBK   521    474           -47             -9.02
32  ASIANPAINT  2800   2805             5              0.18
33   TATASTEEL  1247   1150           -97             -7.78
34    HDFCLIFE  3404   3357           -47             -1.38
35     DRREDDY   974   1064            90              9.24
36   SUNPHARMA  1582   1627            45              2.84
37   KOTAKBANK  3058   3001           -57             -1.86
38  SHRIRAMFIN  2547   2608            61              2.39
39   NESTLEIND  3247   3336            89              2.74
40        ONGC  1475   1388           -87             -5.90
41       CIPLA  2306   2300            -6             -0.26
42        BPCL   689    636           -53             -7.69
43   BRITANNIA  3505   3419           -86             -2.45
44     SBILIFE  3234   3333            99              3.06
45    HINDALCO  3505   3594            89              2.54
46  HEROMOTOCO  1062   1001           -61             -5.74
47    AXISBANK  2399   2380           -19             -0.79
48    HDFCBANK  1767   1777            10              0.57
49  BAJAJ-AUTO  3379   3331           -48             -1.42

In [ ]:
#df4["daily_return"] = df4["close"] - df4["open"]
#df4["daily_return_pct"] = np.round(((df4["close"] - df4["open"]) / df4["open"]) * 100, 2)
#df4['daily_return_pct'] = df4['daily_return_pct'].astype(str) + '%'
#df4

           Ticker     open    close  daily_return daily_return_pct
0            SBIN   596.60   602.95          6.35            1.06%
1      BAJFINANCE  7780.80  7967.60        186.80             2.4%
2           TITAN  3148.80  3196.25         47.45            1.51%
3             ITC   441.00   439.75         -1.25           -0.28%
4             TCS  3534.20  3513.85        -20.35           -0.58%
...           ...      ...      ...           ...              ...
14195    HINDALCO   652.95   652.10         -0.85           -0.13%
14196  HEROMOTOCO  4778.40  4794.10         15.70            0.33%
14197    AXISBANK  1136.65  1142.40          5.75            0.51%
14198    HDFCBANK  1743.55  1745.60          2.05            0.12%
14199  BAJAJ-AUTO  9545.00  9481.65        -63.35           -0.66%

[14200 rows x 5 columns]

In [96]:
#pd.set_option("display.max_rows",None)
#df4

In [ ]:
#df4

           Ticker     open    close  daily_return daily_return_pct
0            SBIN   596.60   602.95          6.35            1.06%
1      BAJFINANCE  7780.80  7967.60        186.80             2.4%
2           TITAN  3148.80  3196.25         47.45            1.51%
3             ITC   441.00   439.75         -1.25           -0.28%
4             TCS  3534.20  3513.85        -20.35           -0.58%
...           ...      ...      ...           ...              ...
14195    HINDALCO   652.95   652.10         -0.85           -0.13%
14196  HEROMOTOCO  4778.40  4794.10         15.70            0.33%
14197    AXISBANK  1136.65  1142.40          5.75            0.51%
14198    HDFCBANK  1743.55  1745.60          2.05            0.12%
14199  BAJAJ-AUTO  9545.00  9481.65        -63.35           -0.66%

[14200 rows x 5 columns]

In [22]:
filtered_df = df4[df4["Ticker"] == "SBIN"][["Ticker", "open", "close", "daily_return","daily_return_pct"]]
print(filtered_df)

  Ticker  open  close  daily_return  daily_return_pct
0   SBIN  3674   3704            30              0.82

In [123]:
filtered_df = df4[df4["Ticker"] == "BAJFINANCE"][["Ticker", "open", "close", "daily_return","daily_return_pct"]]
print(filtered_df)

           Ticker     open    close  daily_return daily_return_pct
1      BAJFINANCE  7780.80  7967.60        186.80             2.4%
51     BAJFINANCE  8025.00  7854.05       -170.95           -2.13%
101    BAJFINANCE  7914.85  7850.90        -63.95           -0.81%
151    BAJFINANCE  7850.00  8168.55        318.55            4.06%
201    BAJFINANCE  8102.05  8027.70        -74.35           -0.92%
...           ...      ...      ...           ...              ...
13951  BAJFINANCE  6572.30  6549.15        -23.15           -0.35%
14001  BAJFINANCE  6633.00  6567.95        -65.05           -0.98%
14051  BAJFINANCE  6594.35  6595.30          0.95            0.01%
14101  BAJFINANCE  6614.00  6465.65       -148.35           -2.24%
14151  BAJFINANCE  6470.00  6683.95        213.95            3.31%

[284 rows x 5 columns]

In [25]:
print(df4.columns)

Index(['Ticker', 'open', 'close', 'daily_return', 'daily_return_pct'], dtype='object')

In [26]:
print(" Original shape:", df4.shape)
print("Column names:", df4.columns.tolist())
print(" Missing values:\n", df3.isnull().sum())

# 🧹 2. Drop duplicate rows
df4.drop_duplicates(inplace=True)

# 🧹 3. Drop rows with all columns null
df4.dropna(how='all', inplace=True)

# 🧹 4. Strip whitespaces in column names
df4.columns = df4.columns.str.strip()

# 🧹 5. Normalize column names (lowercase, underscores)
df4.columns = df4.columns.str.lower().str.replace(' ', '_')

# 🧹 6. Fill missing values (example)
df4.fillna(value='Unknown', inplace=True)

# 🧹 7. Remove unwanted characters from string columns
for col in df4.select_dtypes(include='object').columns:
    df4[col] = df4[col].astype(str).str.strip().str.replace(r'[^\w\s.-]', '', regex=True)

# 🧹 8. Convert date columns (if any)
# df['date_column'] = pd.to_datetime(df['date_column'], errors='coerce')

# 📊 9. Final summary
print("\n✅ Cleaned DataFrame:")
print(df3.info())
print(df3.head())

# 💾 10. Optional: Save cleaned data
df3.to_csv("cleaned_data.csv", index=False)
print("✅ Cleaned data saved to cleaned_data.csv")

 Original shape: (50, 5)
Column names: ['Ticker', 'open', 'close', 'daily_return', 'daily_return_pct']
 Missing values:
 Ticker             0
close              0
date               0
high               0
low                0
month              0
open               0
volume             0
sector          1136
Symbol          1136
daily_return       0
dtype: int64

✅ Cleaned DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14200 entries, 0 to 14199
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        14200 non-null  object
 1   close         14200 non-null  float64
 2   date          14200 non-null  object
 3   high          14200 non-null  float64
 4   low           14200 non-null  float64
 5   month         14200 non-null  object
 6   open          14200 non-null  float64
 7   volume        14200 non-null  int64
 8   sector        13064 non-null  object
 9   Symbol        13064 non-null  object
 10  daily_return  14200 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.2+ MB
None
       Ticker    close                 date    high      low    month    open  \
0        SBIN   602.95  2023-10-03 05:30:00   604.9   589.60  2023-10   596.6
1  BAJFINANCE  7967.60  2023-10-03 05:30:00  7975.5  7755.00  2023-10  7780.8
2       TITAN  3196.25  2023-10-03 05:30:00  3212.5  3114.40  2023-10  3148.8
3         ITC   439.75  2023-10-03 05:30:00   442.9   439.25  2023-10   441.0
4         TCS  3513.85  2023-10-03 05:30:00  3534.2  3480.10  2023-10  3534.2

     volume          sector      Symbol  daily_return
0  15322196         BANKING        SBIN        502.95
1    944555         FINANCE  BAJFINANCE       7867.60
2   1007308       RETAILING       TITAN       3096.25
3   7481883  FOOD & TOBACCO         ITC        339.75
4   1948148        SOFTWARE         TCS       3413.85
✅ Cleaned data saved to cleaned_data.csv

In [27]:
import mysql.connector

In [34]:
# Establish the connection
connection = mysql.connector.connect(
        host="127.0.0.1",
        port=3306,
        user='root',
        password="root",
       database="stock_analysis1" )
cursor = connection.cursor()

In [145]:
print(df4.columns)

Index(['ticker', 'open', 'close', 'daily_return', 'daily_return_pct'], dtype='object')

In [35]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS stock_analysis1 (
        Ticker   VARCHAR(50),
        open     VARCHAR(50),
        close    VARCHAR(50),
        daily_return VARCHAR(50),
        daily_return_pct VARCHAR(50)      
    ); 
""")

In [40]:
insert_query="""INSERT INTO stock_analysis1(Ticker,open,close,daily_return,daily_return_pct)  
VALUES (%s, %s, %s, %s, %s)"""
for index,row in df4.iterrows():
     values =(
              row['ticker'],
              row['open'],
              row['close'],
              row['daily_return'],
              row['daily_return_pct']
              
              )
     
     cursor.execute(insert_query,values)

     connection.commit()

In [73]:
df3.columns

Index(['Ticker', 'close', 'date', 'high', 'low', 'month', 'open', 'volume',
       'sector', 'Symbol', 'daily_return'],
      dtype='object')

In [85]:
# Establish the connection
connection = mysql.connector.connect(
        host="127.0.0.1",
        port=3306,
        user='root',
        password="root",
       database="stock_analysis" )
cursor = connection.cursor()

In [110]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS stock_analysis (
        Ticker   VARCHAR(50),
        close    VARCHAR(50),
        date     DATE,
        high     VARCHAR(50),
        low      VARCHAR(50),
        month      VARCHAR(50),  
        open     VARCHAR(50),
        volume    VARCHAR(50),
        sector   VARCHAR(100),
        symbol   VARCHAR(50),      
        daily_return VARCHAR(50),
        Daily_return_pct VARCHAR(50)
    ); 
""")

In [115]:


insert_query = """
INSERT INTO stock_analysis(Ticker,Close, date, high, low, month, open, volume, sector, symbol, daily_return, Daily_return_pct)  
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for index, row in df3.iterrows():
    values = (
        row['ticker'],
        row[' close '],
        row['date'],
        row['High'],
        row['low'],
        row['Month'],
        row['open'],
        row['Volume'],
        row['sector'],
        row['Symbol'],  
        row['daily_return'],
        row['Daily_return_pct']
    )
    
    cursor.execute(insert_query, values)
    connection.commit()
    try:
        cursor.execute(insert_query, values)
    except Exception as e:
        print(f"❌ Row {index} error: {e}\nValues: {values}")

KeyError: ' close '